name: Deploy GitHub Pages (wwwroot)

on:
  push:
    branches:
      - main

permissions:
  pages: write
  id-token: write

jobs:
  upload:
    runs-on: ubuntu-latest
    name: Upload artifact
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./wwwroot

  deploy:
    needs: upload
    runs-on: ubuntu-latest
    name: Deploy to GitHub Pages
    steps:
      - name: Deploy
        uses: actions/deploy-pages@v1
